#include "resources.h"

icon ICON icon.ico

IDR_MENU MENU DISCARDABLE 
BEGIN
	POPUP "&System"
	BEGIN
		MENUITEM "&Reset system", IDM_MENU_RESET
		MENUITEM "&Open system", IDM_MENU_OPEN
		MENUITEM "&Add system", IDM_MENU_ADD
		MENUITEM "&Save system", IDM_MENU_SAVE
	END
	POPUP "&Add"
	BEGIN
		MENUITEM "Add &blackhole", IDM_MENU_BLACKHOLE
	END
	POPUP "&Options"
	BEGIN
		MENUITEM "Invalidate", IDM_MENU_INVALIDATE
	END
END
